# ===========================================================
# Dependencies for the rdcmp package
# ===========================================================
# Usage:
#    $ pip install --no-cache-dir -r requirements.txt
# ===========================================================
numpy
scipy
pytest
pdoc